<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, minimum-scale=.25 user-scalable=yes"/>
<link rel="stylesheet" href="/login_template/libraries/bootstrap-3.3.4-dist/css/bootstrap.css">
<link rel="stylesheet" href="/login_template/css/login.css">
<title>Login page | AlkenArts</title>
</head>
<body class="body" ng-app="login_template" ng-controller="loginController">
	<div class="" align="center">
	<div id="formPanel" class="panel panel-default panel-body" style="margin-top: 10%;background-color:#0ea;">
		<form role="form" name="loginForm" class="form-horizontal">
			<div>
				<div></div>
				<div><h2 style="color: blue;">AlkenArts</h2></div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4">Username*:</label>
				<div class="col-md-6">
					<input type="email" validate-email name='email' class="form-control" placeholder="Enter Username*" ng-model="user.username" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4">Password*:</label>
				<div class="col-md-6">
					<input type="password" class="form-control" placeholder="Enter Password*" ng-model="user.password" required>
				</div>
			</div>
			<div class="form-group"> 
			   <div class="">
			     <button ng-click="submit('/home')" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
			   </div>
			   <h4><span ng-show="loginError" class="help-block" style="color: red">Username or Password is Invalid</span><br></h4>
			 </div>
		</form>
	</div>
	</div>
</body>
</html>